<lhtml>
  <head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <title>Survey</title>
  </head>

  <body>

    <div class="FormContentWrapper">
      <div class="HeaderMast"></div>
        <div class="CenteredContent">
          <div class="FormCard">
            <div class="Accent"></div>
              <div class="FormContent">
                <div class="Wrapper">

                <form> 

                <div class="row">
                  <div class="input-field col s12">
                    <h4>User Statistic</h4>
                  </div><!--.input-field col s12-->
                </div><!--.row-->
                
              <div class="infoDesktop">
                <div class="columns">
                     <div class="column">
                      <div class="w3-panel w3-card">
                                  <div class="UserInfo">
                                    <p><b>Full Name:</b> Ivanov John</p>
                                    <p><b>Birtday:</b> 4.17.2000</p>
                                    <p><b>E-mail:</b> IvanovJ@gmail.com</p>
                                    <p><b>Phone:</b> 8 880 555 35 35</p>
                                  </div>
                          </div><!--.input-field col s12-->
                      </div>
		              <div class="column">
                    <div class="w3-panel w3-card">
                      <div class="w3table">
                      <div class ="table">
                              <table id="myTable">
                              <tr>
                                <th onclick="sortTable(0)">Date</th>
                                <th onclick="sortTable(1)">Result</th>
                              </tr>
                              <tr>
                                <td>05.01.2021</td>
                                <td>30.5</td>
                              </tr>
                              <tr>
                                <td>05.02.2021</td>
                                <td>40.63</td>

                              </tr>
                              <tr>
                                <td>01.03.2021</td>
                                <td>30.2</td>

                              </tr>
                              <tr>
                                <td>01.04.2021</td>
                                <td>15.6</td>
                              </tr>
                                </table>
                              </div>
                        </div><!--.table-->
                    </div>
                  </div>
                </div><!--.row-->
              </div>

                <div class="infoMobile">
                  <div class="columns">
                    <div class="column">
                      <div class="w3-panel w3-card">
                                  <div class="UserInfo">
                                    <p><b>Full Name:</b> Ivanov John</p>
                                    <p><b>Birtday:</b> 4.17.2000</p>
                                    <p><b>E-mail:</b> IvanovJ@gmail.com</p>
                                    <p><b>Phone:</b> 8 880 555 35 35</p>
                                  </div>
                          </div><!--.input-field col s12-->
                          </div>
                          <div class="column">
                            <div class="w3-panel w3-card">
                              <div class="w3table">
                              <div class ="table is-narrow">
                                      <table id="myTable" class="center">
                                      <tr>
                                        <th onclick="sortTable(0)">Date</th>
                                        <th onclick="sortTable(1)">Result</th>
                                      </tr>
                                      <tr>
                                        <td>05.01.2021</td>
                                        <td>30.5</td>
                                      </tr>
                                      <tr>
                                        <td>05.02.2021</td>
                                        <td>40.63</td>
        
                                      </tr>
                                      <tr>
                                        <td>01.03.2021</td>
                                        <td>30.2</td>
        
                                      </tr>
                                      <tr>
                                        <td>01.04.2021</td>
                                        <td>15.6</td>
                                      </tr>
                                        </table>
                                      </div>
                                </div><!--.table-->
                            </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col m6 s12">
                    <button type="back"   class="button is-survey"formaction="admin.html">Back</button>
                  </div><!--.input field col m6 s12-->
                </div><!--.row-->


                

                </form>

                </div><!--.Wrapper-->
              </div><!--.FormContent-->
          </div><!--.FormCard-->
        </div><!--.CenteredContent-->
    </div><!--.FormContentWrapper-->

  
    <script src="./static/js/table-sort.js"></script>
  </body>
</html>