<lhtml>
  <head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<title>Survey</title>
  </head>
  <body>

    <div class="FormContentWrapper">
      <div class="HeaderMast"></div>
        <div class="CenteredContent">
          <div class="FormCard">
            <div class="Accent"></div>
              <div class="FormContent">

                <form> 

                    <div class="field">
                      <h4>Admin panel</h4>
                    </div><!--.input-field col s12-->

                  <div class="field">
                    <label class="label">Login</label>
                    <div class="control">
                      <input class="input is-primary" type="text">
                    </div>
                  </div>


                    <div class="field">
                      <label class="label">Password</label>
                      <div class="control">
                      <input id="password" name="password" class="input is-primary" type="password" required>
                    </div><!--.input-field col s12-->
                  </div>

                  <div class="field">
                    <div class="input-field col m6 s12">
                      <button class="button is-survey">Login</button>
                    </div><!--.input-field col m6 s12-->
                  </div><!--.row-->

                </form>

              </div><!--.FormContent-->
          </div><!--.FormCard-->
        </div><!--.CenteredContent-->
    </div><!--.FormContentWrapper-->

  </body>
</html>